# --------- pytorch --------- #
torch
torchvision
pytorch-lightning
torchmetrics

# --------- huggingface --------- #
transformers
datasets

# --------- hydra --------- #
hydra-core
hydra-colorlog
hydra-optuna-sweeper

# --------- loggers --------- #
wandb
tensorboard
# neptune-client
# mlflow
# comet-ml
# torch_tb_profiler

# --------- linters --------- #
pre-commit
black
isort
flake8

# --------- others --------- #
jupyterlab
numpy
python-dotenv
rich
pytest
sh
scikit-learn
seaborn
pudb
# dvc
